@charset "UTF-8";

/*  Typical Device Breakpoints
320px -- 480px : Mobile Devices
481px -- 768px : Ipads, Tables
769px -- 1024px : Small Screencs, Laptops
1025px -- 1200px : Desktops, large screens
1201px -- more : Extra large screens, TV
*/

@media screen and (min-width: 768px) and (max-width: 1024px){

    main {
        background-image: linear-gradient(142deg, rgba(203,223,244,1) 0%, rgba(239,246,255,1) 50%);
    }
    
    section#formulario{
        width: 90vw;
        height: 500px;
    }

    div#imagem {
        width: 45%;
        height: 500px;
        float: left;
        border-radius: 20px 0px 0px 20px;
        background-position: center bottom;
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.171);
    }

    fieldset {
        width: 55%;
        padding-top: 40px;
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-9%, -50%);
    }

}

@media screen and (min-width: 1025px){

    main {
        background-image: linear-gradient(142deg, rgba(203,223,244,1) 0%, rgba(239,246,255,1) 50%);
    }

    section#formulario{
        width: 900px;
        height: 500px;
    }

    div#imagem {
        width: 45%;
        height: 500px;
        float: left;
        border-radius: 20px 0px 0px 20px;
        background-position: center bottom;
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.171);
    }

    fieldset {
        width: 55%;
        padding-top: 40px;
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-9%, -50%);
    }
}