@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&family=Press+Start+2P&display=swap');

/* 
    Paleta de Cores
    Laranja -       #FF6D03
    Azul Escuro -   #393E46
    Azul Claro -    #579BB1
    Branco Escuro - #F8F4EA
    Branco -        #ECE8DD
*/

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
}