@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Poppins:wght@200;400;500;600&display=swap');
/* Poppins - Cabin */

/* 
    Paleta de Cores
    Laranja     - #FF6D03
    Cinza       - #393E46
    Azul        - #1C6DD0 
    Azul Claro  - #4C99F7
    Azul Branco - #dde9f5
    Branco      - #f7faff
*/

:root {
    --laranja: #FF6D03;
    --cinza: #393E46;
    --azul: #1C6DD0;
    --claro: #4C99F7;
    --abranco: #dde9f5;
    --branco: #f7faff;

    --fonte-padrao: "Poppins", Arial, Helvetica, sans-serif;
    --fonte-alternativa: "Cabin", Verdana, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    box-sizing: border-box;
    color: var(--cinza);
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: #eff6ff;
    text-align: center;
}

main {
    height: 97vh;
    width: 100vw;
    position: relative;
}

section#formulario {
    display: block;
    margin: auto;
    width: 85vw;
    background-color: #fbfcfd;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.137);
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

div#imagem {
    display: inline-block;
    height: 120px;
    width: 100%;
    background: url(../imagens/pexels-brett-sayles-12083030.jpg) no-repeat;
    background-position: center bottom;
    background-size: cover;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.171);
}

section {
    margin: auto;
}

fieldset {
    border: 0px;
    padding: 15px 15px 15px 15px;
}

#imagem {
    width: 85vw;
    height: 306px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: bottom center;
}

h1, h2 {
    font-family: var(--fonte-alternativa);
}

h1 {
    font-size: 3.2em;
    color: var(--azul);
    margin-left: -2px;
    margin-top: -10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.192);
}

h2 {
    font-weight: lighter;
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    margin-bottom: 15px;
    margin-top: -5px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.192);
}

form > p  {
    margin-top: px;
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
}

#type-forms  {
    padding-top: 0px;
    font-family: var(--fonte-padrao);
    font-size: 1em;
    padding-bottom: 10px;
}

.campo {
    text-indent: 10px;
    margin-bottom: 5px;
    width: 250px;
    height: 40px;
}
.campo:focus-within {
    background-color: var(--abranco);
}


::placeholder {
    font-family: var(--fonte-padrao);
    font-weight: lighter;
    font-size: 0.8em;
}

input[type=submit] {
    background-color: var(--azul);
    width: 100px;
    height: 35px;
    font-family: var(--fonte-alternativa);
    font-size: 1.2em;
    border-radius: 50px;
    color: var(--branco);
    font-weight: bolder;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

input[type=submit]:hover {
    transform: scale(105%);
}

#check-button {
    font-size: 0.9em;
    margin-bottom: 10px;
}

#check-button-input {
    cursor: pointer;
    width: 17px;
}

input {
    border-style: solid;
    border-width: 1px;
    border-color: var(--cinza);
    border-radius: 25px;
    height: 20px;
}

a {
    text-decoration: none;
    font-family: var(--fonte-alternativa);
    color: var(--cinza);
    font-size: 0.9em;
    opacity: 100%;
    box-sizing: border-box;
}

p.outros {
    padding-bottom: 10px;
}
a:hover {
    font-weight: bolder;
}

footer {
    height: 3vh;
    background-color: var(--azul);
    font-weight: bolder;
    color: var(--branco);
    padding-top: 4px;
}

footer > p, footer > p > a {
    font-size: 0.8em;
    font-family: var(--fonte-alternativa);
    color: var(--branco);
    letter-spacing: 1px;
}

footer > p > a {
    font-size: 1em;
}

footer > p > a:hover {
    cursor: help;
}

